.galleryCard{
    display: flex;
    flex-direction: column;
    margin: 30px;
    max-width: 90%;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    width: 300px;
}
.galleryCardImage{
    border-radius:20px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    flex: 0.6;
    
}
.galleryCardImage img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0 ;
    object-position: top;
}
.hide{
    display: none;
}