.mcard-container {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  height: 390px;
  width: 240px;
  margin-bottom: 10%;
}

.mcard-image {
  height: 300px;
  width: 200px;
  margin-left: 20px;
  margin-top: 20px;
}

.mcard-name {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.mcard-title {
  color: #ec437b;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.mcard-flex {
  display: flex;
  flex-direction: row;
}

.b1 {
  background: rgb(18, 7, 160);
  padding: 5px;
  width: 120px;
}

.b2 {
  background: rgb(252, 2, 127);
  padding: 5px;
  width: 80px;
}

.b3 {
  background: rgb(252, 229, 28);
  padding: 5px;
  width: 60px;
}

.b4 {
  background: rgb(91, 240, 111);
  padding: 5px;
  width: 40px;
}
