.cc-message-container {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #da3636;
}

.cc-image-container {
  margin-left: 15%;
}

.cc-image {
  height: 400px;
  width: 800px;
}

.cc-message {
  color: #ffffff;
  margin-right: 5%;
  font-size: 25px;
}

.activities-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  height: 100%;
  padding: 3%;
}

.card-1 {
  height: 500px;
  width: 400px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    120deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 33, 121, 1) 35%,
    rgba(0, 204, 255, 1) 100%
  );
  border-radius: 20px;
  margin: 3%;
}

.icon-box {
  background-color: hsl(0, 0%, 100%);
  height: 80px;
  width: 80px;
  margin-left: 40%;
  margin-top: 20%;
}

.iconbox-item {
  margin-top: 40%;
  margin-left: 35%;
}

.card-title {
  margin-top: 5%;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.activity-headline {
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  background-color: #000000;
  text-align: center;
}

.card-text {
  color: #ffffff;
  padding: 8%;
  text-justify: center;
}
