@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
/* font-family: 'Inter', sans-serif; */

.event_outer {
  /* width: 80%; */
  width: 650px;
  /* max-width: 1200px; */
  background-color: hsl(205, 100%, 80%);
  /* background-color: hsl(214, 100%, 85%); */
  padding: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin: 20px 10px;
}
.event_outer img {
  width: 225px;
  height: 225px;
  border-radius: 15px;
  margin-right: 40px;
}
.event_top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.enent_date p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  margin: 0;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.enent_date h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  margin: 0;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.enent_date {
  height: 100%;
  padding-right: 10px;
  border-right: 1px solid black;
  margin-top: 2px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event_title h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  margin-left: 15px;
  margin-bottom: 0px;
}
.event_bottom {
  font-family: "Inter", sans-serif;
}
.event_tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.event_bottom p {
  font-size: 18px;
  line-height: 26px;
  margin: 20px 0 30px 0;
}
.event_bottom span {
  font-size: 14px;
  background: #fff;
  padding: 5px 20px;
  margin-right: 20px;
  border-radius: 50px;
}

@media screen and (max-width: 650px) {
  .event_outer {
    flex-direction: column;
    align-items: start;
  }
  .event_tags span {
    margin-top: 10px;
  }
  .event_outer img {
  margin-bottom: 20px;
}
}
