.container_card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
    height: 100%;
    min-height: 100vh;
    padding: 3%;

}
.board-category {
    background-color: #10dde6;
    height: 200px;
  }
.card_1 {
    height: 500px;
    width: 400px;
    background: linear-gradient(90deg, rgba(12,9,64,1) 0%, rgba(60,15,112,1) 35%, rgba(203, 10, 88,1) 100%);
    border-radius: 20px;
    margin: 3%;
  }




@import url('https://fonts.googleapis.com/css2?family=Nunito');
.tclContainer{
    
    font-style:'Nunito',sans-serif;
    padding-bottom: .5rem;
    padding-top: 3rem;
    max-width:100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}
  @media (min-width: 576px){
      .tclContainer{

          max-width: 540px;
      }
  }
  @media (min-width: 768px){
      .tclContainer{

          max-width: 720px;
      }
  }
  @media (min-width: 992px){
      .tclContainer{

          max-width: 960px;
      }
  }
  @media (min-width: 1200px) {
      .tclContainer{

          max-width: 1140px;
      }
  }


.tclContainer .Row{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
} 
